// Elements

// 1.1 Typography
body { color: $base-text; font: 93.75%/1.6em $sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0 0 1em; }
h1 { font-size: 2em; line-height: 1.2em; }
h2 { font-size: 1.6em; line-height: 1.25em; }
h3 { font-size: 1.3334em; line-height: 1.2em; }
h4 { font-size: 1.2em; line-height: 1.3334em; font-weight: bold; }
h5 { font-size: 1.0666em; font-weight: bold; margin-bottom: 0; }
h6 { font-size: 1em; font-weight: bold; margin-bottom: 0; }

input, select, textarea { font-family: $sans-serif; color: $base-text; }
legend { font: 1.3334em $sans-serif; color: $base-text; }

// 1.2 Text

p { margin-bottom: 1.3334em; }
p:last-child { margin-bottom: 0; }
p.leftalign { text-align: left; }
p.centeralign { text-align: center; }
p.rightalign { text-align: right; }
p.read-more { text-align: right; }
address { font-style: normal; margin-bottom: 1.3334em; }
blockquote { margin: 0 0 0 2em; margin-bottom: 1.3334em; }
blockquote p { margin-bottom: 0.6667em; }

// 1.3 Lists
ul, ol { margin: 0 0 1.3334em 2em; }
ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }
dl { margin: 0 0 1.3334em 0; }
dt { font-weight: bold; }
dd { margin: 0 0 1.3334em 2em; }
dd ul, dd ol { margin-left: 0; }

nav ul { margin: 0; }
nav ul li { margin: 0; padding: 0; }
nav ul ul { margin-left: 1em; }

// 1.4 Links
a { text-decoration: none; }
a:link { color: $link-blue; }
a:visited { color: $link-blue; }
.no-touch a:hover { color: $link-red; }
a:active { color: $link-blue; }

// 1.5 Images
img { max-width: 100%; height: auto !important; }
.alignleft,
.alignright,
.aligncenter { display: block; width: auto; margin: 0 auto 1.3334em; } /* mobile-first: center everything; we'll align stuff later in the media queries */

// 1.6 Tables
th, td { padding: 0.6667em; }

// 1.7 Form elements
input, select, textarea { border: 1px solid $light-gray; padding: 0.6667em; width: 100%; outline: 0; }
input:focus, select:focus, textarea:focus { border-color: $base-text; }
input[type="submit"],input[type="image"] { width: auto; }

select {
	-webkit-appearance: none;
    -webkit-padding-start: 0.6667em;
    -webkit-padding-end: 1.3334em;
    -webkit-padding-before: 0.6667em;
    -webkit-padding-after: 0.6667em;
    border-radius: 0;
    line-height: normal;
    background: #fff url(../images/icon-arrow-select.png) no-repeat right 50%;
}
.svg.backgroundsize select {
	background-image: url(../images/icon-arrow-select.svg);
	background-size: 20px 10px;
}
input[type="checkbox"],input[type="radio"] {
	-webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 0.25em;
    padding: 0;
    background: #fff;
    width: 16px !important;
    height: 16px !important;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: background 0.25s ease;
    outline: none;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
input[type="radio"] { @include border-radius(8px); }
input[type="checkbox"]:checked, input[type="checkbox"]:disabled:checked,
input[type="radio"]:checked, input[type="radio"]:disabled:checked {
	background: $link-blue;
}
input[type="image"] { border: 0; outline: invert none medium; }
input[type="search"] { -webkit-appearance: none; moz-appearance: none; }
input, select { max-width: 400px; }
textarea { display: block; }
fieldset { margin: 2em 0; border: none; padding: 0; background: $smoke; }
fieldset ul { padding: 1em; }
legend { border: none; background-color: $very-light-gray; display: block; font-size: 1em; padding: 0.6667em 1em; width: 100%; border-bottom: 1px solid $light-gray; }
legend + * { -webkit-margin-top-collapse: separate; }
input[type="submit"], button, a.button {
  background: $very-dark-gray;
  @include border-radius(0);
  color: #fff;
  padding: 0.4em 1em;
  margin-right: 1em;
  border: none;
  font-size: 1em;
  line-height: 1.6em;
  cursor: pointer;
}
a.button { display: inline-block; }
.no-touch input[type="submit"]:hover, .no-touch button:hover, .no-touch a.button:hover {
  background: $dark-gray; color: #fff;
}

input[type="submit"].button-block, button.button-block, a.button.button-block { display: block; text-align: center; margin: 0 0 1em; }
p.read-more a.button.button-block { float: right; margin: 0 0 1em 2em; }

form ul { list-style: none outside none; margin: 0; }
form ul li { margin-bottom: 1em; }

.uwf-input-label-container { position: relative; margin-top: 1em; }
.uwf-input-label-container label { position: absolute; left: 0.73333em; top: 0.53333em; z-index: 1; transition: top 0.25s, left 0.25s, font-size 0.25s; }
label.uwf-focused { top: -1em; left: 0; font-size: 0.8em; line-height: 1.25em; }
.uwf-input-label-container label.error, .uwf-input-label-container label.error.uwf-focused { top: 100%; left: 0; font-size: 0.8em; line-height: 1.25em; }

// 1.8 miscellaneous

// 1.8.1 pseudo-icons

.dismiss:before { content: "\00d7"; cursor: pointer; }
.navigation-icon { width: 1em; vertical-align: middle; fill: $base-text; }

// 1.8.2 Assistive text

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	text-transform: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

// mobile only
@media screen and (max-width: 767px) {
	input[type="submit"].button-mobile-block, button.button-mobile-block, a.button.button-mobile-block, p.read-more a.button.button-block { display: block; width: 100%; float: none; text-align: center; margin: 0 0 1em; }
}

// iPad in portrait mode or larger //
@media screen and (min-width: 768px) {
	.alignleft { float: left; margin: 0 1.3334em 1.3334em 0; max-width: 50%; }
	.alignright { float: right; margin: 0 0 1.3334em 1.3334em; max-width: 50%; }
	.aligncenter { display: block; width: auto; margin: 0 auto 1.3334em; }
}
