// navigation

.navigation-header, #navigation .main-menu ul li.menu-dismiss { display: none; }

#navigation .main-menu > ul ul { clear: both; margin: 0; padding: 0 1em; }
#navigation .main-menu ul li { padding: 0; }
#navigation .main-menu ul li a,
#navigation .main-menu ul li span.nolink,
#navigation .main-menu ul li span.separator { padding: 0.6em 0.8333em; display: block; line-height: 1em; }
#navigation .main-menu ul li.has-children > a,
#navigation .main-menu ul li.has-children > span.nolink { float: left; padding-right: 0.25em; cursor: pointer; }
#navigation .main-menu ul li.has-children:after { content: ''; display: table; clear: both; }
#navigation .main-menu li ul li { border-bottom: none; }

// on-this-page navigation - created by javascript, so hide unless there is javascript
.no-js #on-this-page { display: none; }

// only apply these css styles if javascript is enabled
.js #navigation .main-menu > ul { background: $very-light-gray; }
.js #navigation .main-menu ul li .menu-toggle { content: ''; float: right; display: block; height: 0; width: 0; border: 0.6em solid transparent; margin: 0.8em 1em 0 0.3334em; cursor: pointer; }
.js #navigation .main-menu ul li .menu-toggle.closed { border-top-color: $very-dark-gray; }
.js #navigation .main-menu ul li .menu-toggle.open { margin-top: 0.2em; border-bottom-color: $very-dark-gray; }
.js #navigation .main-menu > ul ul { position: absolute; left: -9999em; }
.js #navigation .main-menu > ul ul.open { position: relative; left: auto; }

// mobile menu
.menu-mobile #navigation { position: absolute; top: 0; left: 0; right: 0; }
.menu-mobile .navigation-header { display: block; cursor: pointer; }
.menu-mobile #navigation .main-menu > ul { font-size: 1.6em; z-index: 500; position: fixed; width: 300px; overflow-x: hidden; overflow-y: auto; top: 0; bottom: 0; @include transition-duration(0.15s); @include transition-timing-function(ease); padding-top: 40px; -webkit-overflow-scrolling: touch; }
.menu-mobile #navigation .main-menu ul li { border-bottom: 1px solid $light-gray; }
.menu-mobile #navigation .main-menu ul li.menu-dismiss { display: block; position: absolute; top: 15px; right: 15px; font-size: 2em; cursor: pointer; border-bottom: none; }

.menu-mobile-left #navigation .main-menu > ul { left: -300px; @include transition-property(left); }
.menu-mobile-left #navigation .main-menu > ul.open { left: 0; }
.menu-mobile-right #navigation .main-menu > ul { right: -300px; @include transition-property(right); }
.menu-mobile-right #navigation .main-menu > ul.open { right: 0; }

// full menu
.menu-full #navigation .main-menu > ul { width: 100%; height: 3em; }
.menu-full #navigation .main-menu > ul:after { content: ''; display: table; clear: both; }
.menu-full #navigation .main-menu ul li { float: left; border-bottom: none; position: relative; }
.menu-full #navigation .main-menu ul li a,
.menu-full #navigation .main-menu ul li span.nolink,
.menu-full #navigation .main-menu ul li span.separator { padding: 1em; }
.menu-full #navigation .main-menu ul li.has-children > a,
.menu-full #navigation .main-menu ul li.has-children > span.nolink { padding-right: 0.25em; }
.menu-full #navigation .main-menu ul ul { width: 100%; background: $very-light-gray; z-index: 500; padding: 0; }
.js .menu-full #navigation .main-menu > ul ul.open { position: absolute; top: 3em; }
.menu-full #navigation .main-menu li ul li { float: none; }
.menu-full #navigation .main-menu ul li .menu-toggle { margin-top: 1.2em; }
.menu-full #navigation .main-menu ul li .menu-toggle.open { margin-top: 0.6em; }
	
// on-this-page navigation

.on-this-page-mobile-trigger { cursor: pointer; }
.js .on-this-page-mobile .on-this-page-links {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    z-index: -1;
    font-size: 1.3334em;
    line-height: 1em;
    list-style: none outside none;
    padding: 50px 20px 0;
    opacity: 0;
    @include transition-property(opacity);
    @include transition-duration(0.3s);
}
.js .on-this-page-mobile .on-this-page-links.open {
    z-index: 314159;
    opacity: 1;
}
.js .on-this-page-mobile .on-this-page-links li { margin-bottom: 1em; }
.on-this-page-mobile .on-this-page-links li.menu-dismiss {
    list-style-type: none;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2.4em;
    cursor: pointer;
}