// variables

// ### fonts
$sans-serif: Arial,'Helvetica Neue',Helvetica,sans-serif;

// ### colors
$very-dark-gray: #333333;
$dark-gray: #666666;
$medium-gray: #999999;
$light-gray: #CCCCCC;
$very-light-gray: #EEEEEE;
$smoke: #F5F5F5;
$ws-blue: #44889F;
$ws-red: #A62A32;


$link-blue: #44889F;
$link-red: #A62A32;

$base-text: $very-dark-gray;

// ### Social media colors
$pinterest-red:           #D63532;
$instagram-brown:         #895846;
$twitter-aqua:            #00C7FA;
$facebook-blue:           #3A5898;
$youtube-red:             #CB1F26;
$tumblr-blue:             #395874;
$linkedin-blue:           #1B85BC;
