// stylesheets for WP admin pages

.button .dashicons { margin-top: 3px; }
.form-table th { width: 120px; }
.form-table textarea { width: 600px; max-width: 100%; height: 120px; resize: both; }
#logo_url_preview { display: inline-block; margin-right: 7px; max-width: 100px; }
#favicon_url_preview { display: inline-block; margin-right: 7px; width: 16px; line-height: 24px; }
#logo_url_container button, #logo_url_container input, #favicon_url_container button, #favicon_url_container input { margin-right: 7px; }
#logo_url_preview img { vertical-align: top; }
#favicon_url_preview img { vertical-align: middle; }